# Created by .ignore support plugin (hsz.mobi)
.idea/*
.DS_Store
.vagrant/
database_setup.pyc

# Confidential
*secrets.json

# Nested for convinience of using same vagrant box
UFS-APIs/
UFS-ItemCatalogue/